#此文件用来忽略提交的配置
# Eclipse
.project
.classpath
.settings
#.checkstyle

# IntelliJ IDEA
#.idea
*.iml
test/
.svn
app/.metadata

*.ipr
*.iws
classes
gen-external-apklibs
*.class
out/
captures/
try/

# Gradle
.idea
.gradle
build

# Maven
target
release.properties
pom.xml.*

# Ant
bin
gen
build.xmlgit branch -r
ant.properties
local.properties
#proguard.cfg
#proguard-project.txt
/local.properties
signing.properties
fabric.*

# Other
tmp
.DS_Store
.gradletasknamecache
keystore.properties
Droidcore/libs/
Droidcore/src/androidTest/
Droidcore/src/main/res/drawable/
app/libs/
app/src/androidTest/
baseui/libs/
baseui/src/main/java/
baseui/src/main/res/drawable/
gradlew
greendaogenerator/libs/
/app/src/main/java/io/github/cyning/mobilenews/Key.java
